In [10]:
import pandas as pd
import numpy as np
import nasdaqdatalink as ndl
import pickle

In [11]:
# 1.Load Data for every company - past 10 years. 
# 2.Inspect every dataframe for hammers of shooting stars
# 3.Save hammers for all companies in "sample_of_hammers" dataframe
# 4. Save shooting stars for all companies in "sample_of_shootingstars" dataframe
# 5. Calculate 5, 14, 28 day return on hammer and shooting star
# 6. Save values for hypothesis test. Mean, std, statistics: 1 sample, 1 sided test

In [46]:
pickle_in= open('company_info.pkl','rb')
company_info=pickle.load(pickle_in)

In [47]:
ndl_company_data_dict={'KAVERI SEEDS': 
                         {'ticker':'BSE/BOM532899',
                         'data': None},
                        'NEELAMALAI AGRO INDUSTRIES LTD': 
                        {'ticker':'BSE/BOM508670',
                        'data': None},
                        'DHUNSERI TEA & INDUSTRIES LTD':  
                        {'ticker':'BSE/BOM538902', 
                         'data': None},
                        'NAT BIO-GENES (INDIA) LTD': 
                        {'ticker': 'BSE/BOM537291', 
                         'data': None},
                        'BAYER CROPSCIENCE LTD':
                        {'ticker': 'BSE/BOM506285',
                         'data': None},
                        'PI INDUSTRIES LTD':
                        {'ticker':'BSE/BOM523642',
                         'data': None},
                        'JUBILANT FOODWORKS':
                        {'ticker':'BSE/BOM533155',
                         'data': None},
                        'AVENUE SUPERMARTS':
                        {'ticker': 'BSE/BOM540376',
                         'data': None},
                        'ADANI GREEN ENERGY':
                        {'ticker': 'BSE/BOM541450',
                         'data': None},
                        'TATA CONSUMER PRICES':
                        {'ticker':'BSE/BOM500800',
                         'data': None},
                        'BOROSIL RENEWABLES LTD':
                        {'ticker':'BSE/BOM502219',
                        'data': None} }

In [48]:
def load_data(ticker):
    ndl.ApiConfig.api_key = "j8Wx_DXh7KahznkMCZyq" 
    
    #Load this year's data
    
    #data = ndl.get('BSE/BOM532899', start_date="2021-11-1")
    company_data=ndl.get(ticker, start_date="2012-04-1", end_date="2022-04-1")
    company_data=company_data.iloc[:, :4]
    
    #data=data.fillna(method='ffill')
    company_data.reset_index(inplace=True)
    company_data=company_data.set_index('Date')
    
    return company_data

In [49]:
for company in company_info:
    name = company[0]
    ticker = company[1]
    print("Fetching data for company", name)
    ndl_company_data_dict[name]['data'] = load_data(ticker)
    display(ndl_company_data_dict[name]['data'])
    print()

Fetching data for company KAVERI SEEDS

              Open    High     Low   Close
Date
2012-04-02  585.00  602.00  556.55  579.50
2012-04-03  597.00  597.00  582.20  584.05
2012-04-04  585.00  590.00  580.00  584.40
2012-04-09  590.00  605.00  582.00  592.65
2012-04-10  592.00  603.00  583.00  588.95
...            ...     ...     ...     ...
2022-03-28  539.70  540.05  530.00  533.15
2022-03-29  533.85  549.80  533.85  538.85
2022-03-30  539.30  553.55  539.30  549.20
2022-03-31  546.00  553.15  543.20  546.25
2022-04-01  554.90  589.35  546.40  583.60

[2477 rows x 4 columns]

Fetching data for company NEELAMALAI AGRO INDUSTRIES LTD

              Open     High      Low    Close
Date
2012-04-03   640.0   641.80   640.00   641.80
2012-04-09   609.8   673.85   609.80   673.85
2012-04-10   706.8   707.50   675.00   707.50
2012-04-11   742.0   742.00   742.00   742.00
2012-04-17   779.0   779.00   704.95   704.95
...            ...      ...      ...      ...
2022-03-28  3695.0  3924.00  3695.00  3703.50
2022-03-29  3950.0  3950.00  3712.55  3770.00
2022-03-30  4050.0  4050.00  3670.20  3725.20
2022-03-31  3752.0  3799.00  3710.05  3750.90
2022-04-01  3750.0  3799.00  3700.00  3780.00

[537 rows x 4 columns]

Fetching data for company DHUNSERI TEA & INDUSTRIES LTD

              Open    High     Low   Close
Date
2015-01-20  203.00  213.15  203.00  213.15
2015-01-21  223.80  223.80  223.80  223.80
2015-01-22  234.95  234.95  234.95  234.95
2015-01-23  246.65  246.65  246.65  246.65
2015-01-27  258.95  258.95  258.95  258.95
...            ...     ...     ...     ...
2022-03-28  265.05  283.60  262.00  264.85
2022-03-29  268.25  283.30  264.80  267.90
2022-03-30  265.75  270.30  265.00  265.60
2022-03-31  266.50  266.50  259.95  261.25
2022-04-01  261.50  270.70  261.50  269.40

[1757 rows x 4 columns]

Fetching data for company NAT BIO-GENES (INDIA) LTD

              Open    High     Low   Close
Date
2014-01-28   50.00   50.00   47.55   47.55
2014-01-29   45.50   45.50   45.20   45.20
2014-01-30   42.95   42.95   42.95   42.95
2014-01-31   40.85   40.85   40.85   40.85
2014-02-03   39.55   42.85   38.90   42.85
...            ...     ...     ...     ...
2022-03-28  233.65  237.00  222.05  225.80
2022-03-29  226.75  226.95  215.25  216.55
2022-03-30  218.05  224.00  213.85  216.25
2022-03-31  216.65  221.00  212.15  213.35
2022-04-01  214.05  228.85  214.05  225.75

[2019 rows x 4 columns]

Fetching data for company BAYER CROPSCIENCE LTD

               Open     High      Low    Close
Date
2012-04-02   800.00   800.00   791.50   792.20
2012-04-03   792.60   799.95   790.00   791.75
2012-04-04   795.00   795.00   786.00   788.50
2012-04-09   794.00   794.00   781.00   786.00
2012-04-10   783.20   788.00   778.10   784.20
...             ...      ...      ...      ...
2022-03-28  4639.35  4829.00  4539.55  4785.70
2022-03-29  4785.70  4785.70  4705.80  4722.05
2022-03-30  4760.45  4895.00  4707.40  4868.95
2022-03-31  4899.40  4994.70  4726.00  4982.50
2022-04-01  4983.00  4983.00  4876.20  4908.80

[2476 rows x 4 columns]

Fetching data for company PI INDUSTRIES LTD

               Open     High     Low    Close
Date
2012-04-02   531.00   531.00   523.0   525.00
2012-04-03   527.00   572.00   527.0   562.40
2012-04-04   559.05   561.00   556.0   561.00
2012-04-09   561.00   569.75   545.0   557.65
2012-04-10   550.00   550.00   542.0   547.85
...             ...      ...     ...      ...
2022-03-28  2795.15  2814.00  2722.3  2750.85
2022-03-29  2737.80  2863.75  2737.8  2839.05
2022-03-30  2840.00  2860.00  2796.5  2850.60
2022-03-31  2868.00  2882.15  2810.2  2821.05
2022-04-01  2855.00  2871.00  2800.0  2856.95

[2471 rows x 4 columns]

Fetching data for company JUBILANT FOODWORKS

               Open     High      Low    Close
Date
2012-04-02  1180.00  1210.00  1153.00  1194.55
2012-04-03  1201.00  1222.50  1186.45  1198.90
2012-04-04  1178.25  1195.00  1170.55  1185.65
2012-04-09  1185.00  1206.40  1166.10  1173.75
2012-04-10  1183.00  1183.00  1159.10  1169.45
...             ...      ...      ...      ...
2022-03-28  2608.00  2664.30  2570.00  2645.05
2022-03-29  2648.00  2686.25  2620.75  2629.30
2022-03-30  2651.00  2669.40  2601.75  2616.95
2022-03-31  2620.00  2657.40  2602.00  2635.45
2022-04-01  2668.00  2732.85  2647.65  2725.70

[2477 rows x 4 columns]

Fetching data for company AVENUE SUPERMARTS

              Open     High      Low    Close
Date
2017-03-21   604.4   650.00   558.75   640.75
2017-03-22   644.0   657.50   625.30   639.60
2017-03-23   639.4   648.00   616.50   634.15
2017-03-24   637.0   640.00   612.80   616.00
2017-03-27   615.0   623.00   603.00   613.70
...            ...      ...      ...      ...
2022-03-28  4036.0  4036.00  3975.00  4008.35
2022-03-29  4020.0  4037.70  3986.00  4006.10
2022-03-30  4049.0  4083.40  3948.00  3972.75
2022-03-31  4012.0  4040.00  3985.60  3999.45
2022-04-01  4024.0  4101.75  4001.80  4082.30

[1248 rows x 4 columns]

Fetching data for company ADANI GREEN ENERGY

               Open     High      Low    Close
Date
2020-03-25   137.45   148.30   137.45   148.15
2020-03-26   146.10   155.55   142.55   152.10
2020-03-27   158.00   158.00   144.60   148.70
2020-03-30   145.00   148.30   141.30   147.25
2020-03-31   144.00   154.60   144.00   153.65
...             ...      ...      ...      ...
2022-03-28  1939.00  1941.35  1896.00  1932.55
2022-03-29  1932.55  1946.95  1904.25  1923.25
2022-03-30  1927.00  2040.00  1780.85  1853.20
2022-03-31  1890.00  1940.00  1880.20  1913.40
2022-04-01  1939.95  1965.80  1906.85  1941.90

[498 rows x 4 columns]

Fetching data for company TATA CONSUMER PRICES

              Open   High     Low   Close
Date
2012-04-02  111.90  118.0  111.90  115.35
2012-04-03  117.55  120.0  116.50  118.50
2012-04-04  119.90  120.3  117.10  117.65
2012-04-09  117.20  118.6  115.95  116.85
2012-04-10  117.45  118.7  112.00  117.55
...            ...    ...     ...     ...
2022-03-28  734.90  745.7  728.80  740.90
2022-03-29  743.00  747.0  736.00  743.25
2022-03-30  751.00  782.5  749.85  765.95
2022-03-31  769.40  780.0  766.00  777.25
2022-04-01  777.25  792.5  777.25  789.60

[2477 rows x 4 columns]

Fetching data for company BOROSIL RENEWABLES LTD

             Open    High     Low   Close
Date
2012-04-02  840.0  853.00  840.00  850.00
2012-04-03  853.0  853.00  850.00  850.00
2012-04-04  850.0  859.50  850.00  850.55
2012-04-09  850.0  850.00  850.00  850.00
2012-04-10  850.0  868.00  850.00  850.00
...           ...     ...     ...     ...
2022-03-28  595.1  595.10  558.70  564.55
2022-03-29  567.0  578.95  559.40  564.70
2022-03-30  594.4  594.40  571.15  581.35
2022-03-31  576.2  595.95  576.00  580.35
2022-04-01  580.0  619.95  578.10  610.95

[2419 rows x 4 columns]

In [50]:
pickle_out = open("ndl_company_data_dict_10_years.pkl","wb")
# write the python object (dict) to pickle file
pickle.dump(dict,pickle_out)
# close file
pickle_out.close()

## Profit Return (%)

In [51]:
def profit_return_1(df, days_after=5):
    df2 = df.copy()
    df2['Return % 5 days after']= " "
    for i in range(len(df2)- days_after):  
        if ( df2.iloc[i,4] == 1 ):
            df2.iloc[i,5] = ( ( df2.iloc[i+days_after, 3] - df2.iloc[i+1,0] )/df2.iloc[i+1,0] )*100
    
    return df2

In [52]:
def profit_return_2(df, days_after=14):
    df2 = df.copy()
    df2['Return % 14 days after']= " "
    for i in range(len(df2) - days_after):  
        if ( df2.iloc[i,4] == 1 ):
            df2.iloc[i,6] = ( ( df2.iloc[i+days_after, 3] - df2.iloc[i+1,0] )/df2.iloc[i+1,0] )*100
    return df2

In [53]:
def profit_return_3(df, days_after=28):
    df2 = df.copy()
    df2['Return % 28 days after']= " "
    for i in range(len(df2)-days_after):  
        if ( df2.iloc[i,4] == 1 ):
            df2.iloc[i,7] = ( ( df2.iloc[i+days_after, 3] - df2.iloc[i+1,0] )/df2.iloc[i+1,0] )*100
    return df2


#How to add ignore error

## Hammer Sample Collection

In [54]:
def hammer_scanner(df, min_wick_ratio=5, min_candle_size=0.4):
    
    df2 = df.copy()
    
    #Adding columns
    df2['Hammer']=" "
    
    for i in range(len(df2)):
        cond1 = df2.iloc[i,[0,3]].min() - df2.iloc[i,2] > (df2.iloc[i,1] - df2.iloc[i,[0,3]].max())*min_wick_ratio
        cond2 = df2.iloc[i,[0,3]].min() > (df2.iloc[i,2]+((df2.iloc[i,1]-df2.iloc[i,2])/2))
        cond3 = df2.iloc[i,2] < df2.iloc[i-10:i,2].min()
        cond4 = abs(df2.iloc[i,0]-df2.iloc[i,3])<((df2.iloc[i,1]-df2.iloc[i,2])*min_candle_size)

        if ( ( cond1 == True )  and ( cond2 == True ) and ( cond3 == True ) and (cond4 == True) ):
                df2.iloc[i,-1] = 1
                
        else: 
                df2.iloc[i,-1] = 0
                
    
    return df2

In [40]:
hammer_samples=pd.DataFrame()
for company in company_info:
    name=company[0]
    print("Fetching data for company", name)
    
    #Pass every copmpany dataframe through hammer scanner
    filtered_df=hammer_scanner(ndl_company_data_dict[name]['data'])
    filtered_df=profit_return_1(filtered_df)
    filtered_df=profit_return_2(filtered_df)
    filtered_df=profit_return_3(filtered_df)
    filtered_df=filtered_df[filtered_df['Hammer']==1]  
    
    hammer_samples=pd.concat([hammer_samples,filtered_df],axis=0)

Fetching data for company KAVERI SEEDS
Fetching data for company NEELAMALAI AGRO INDUSTRIES LTD
Fetching data for company DHUNSERI TEA & INDUSTRIES LTD
Fetching data for company NAT BIO-GENES (INDIA) LTD
Fetching data for company BAYER CROPSCIENCE LTD
Fetching data for company PI INDUSTRIES LTD
Fetching data for company JUBILANT FOODWORKS
Fetching data for company AVENUE SUPERMARTS
Fetching data for company ADANI GREEN ENERGY
Fetching data for company TATA CONSUMER PRICES
Fetching data for company BOROSIL RENEWABLES LTD

In [41]:
hammer_samples.to_csv('/Users/devirughani/Desktop/Ironhack/Week_9_Final/Data/Hypothesis_Test_Sample_Data/hammer_samples.csv')

## Shooting Star Sample Collection

In [55]:
def shooting_star_scanner(df, min_wick_ratio=5, min_candle_size=0.4):
    
    df2 = df.copy()
    
    df2['Shooting Star']=" "
        
    for i in range(len(df2)):
        cond1 = ( df2.iloc[i,1] > df2.iloc[i-10:i,1].max() )
        x =  df2.iloc[i,1] - df2.iloc[i,[0,3]].max() 
        y = ( df2.iloc[i,[0,3]].min() - df2.iloc[i,2] ) * min_wick_ratio 
        cond2 = ( x > y ) 
        cond3 =  abs( df2.iloc[i,0] - df2.iloc[i,3] ) <  ( df2.iloc[i,1] - df2.iloc[i,2] ) * min_candle_size 

        if ( ( cond1 == True )  and ( cond2 == True ) and ( cond3 == True ) ):
                df2.iloc[i,-1] = 1
        else: 
                df2.iloc[i,-1] = 0

    return df2

In [60]:
shooting_star_samples=pd.DataFrame()
for company in company_info:
    name=company[0]
    print("Fetching data for company", name)
    
    #Pass every copmpany dataframe through hammer scanner
    filtered_df_2=shooting_star_scanner(ndl_company_data_dict[name]['data'])
    filtered_df_2=profit_return_1(filtered_df_2)
    filtered_df_2=profit_return_2(filtered_df_2)
    filtered_df_2=profit_return_3(filtered_df_2)
    filtered_df_2=filtered_df_2[filtered_df_2['Shooting Star']==1]  
    display(filtered_df_2)
    shooting_star_samples=pd.concat([shooting_star_samples,filtered_df_2],axis=0)

Fetching data for company KAVERI SEEDS

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2012-06-18,720.00,735.00,720.00,724.00,1,11.574781,15.546452,6.825441
2012-06-27,833.10,849.20,827.00,829.10,1,-1.030002,-5.73687,-10.174262
2012-09-10,874.90,895.00,874.00,877.30,1,3.744292,22.351598,28.042237
2012-09-12,878.00,897.60,870.00,873.00,1,6.120014,17.092851,27.275827
2012-10-23,1129.00,1168.95,1129.00,1136.75,1,-3.545852,7.034934,15.637555
2012-11-16,1270.00,1299.90,1265.00,1270.90,1,-0.331772,6.116315,0.823575
2012-12-10,1355.00,1397.00,1355.00,1365.05,1,-1.018902,-7.078308,0.860486
2013-01-08,1352.00,1415.00,1345.00,1378.70,1,4.99278,1.386282,-1.895307
2013-04-18,1240.00,1279.00,1240.00,1255.25,1,-5.333333,-2.196078,10.835294
2013-05-20,1278.00,1307.00,1274.00,1277.55,1,7.525097,22.675676,20.451737
2013-10-30,1600.00,1625.00,1595.00,1599.20,1,-3.093168,-2.034161,0.512422
2013-11-06,1578.45,1639.20,1556.00,1560.20,1,0.006339,-0.459559,5.755578
2013-11-20,1567.05,1668.55,1567.00,1577.25,1,-0.26991,2.772133,17.105932
2014-01-08,1973.00,2036.00,1970.00,1978.15,1,-5.5386,-78.41597,-74.673538
2014-03-04,584.50,611.80,584.50,592.55,1,-5.800483,-3.300275,1.450121
2015-03-05,962.00,998.00,958.45,963.80,1,-5.165289,2.159091,-0.759298
2016-05-17,437.60,451.05,437.60,441.75,1,-2.438195,2.948514,-1.746428
2016-10-24,437.50,450.70,436.45,441.05,1,-2.184246,-10.581711,-7.152558
2017-01-20,480.30,494.00,479.10,481.25,1,-2.735849,1.215933,3.259958
2017-03-01,497.10,512.00,494.55,496.80,1,3.797468,7.394012,10.508338
2017-03-24,555.00,568.00,553.50,559.85,1,-1.804444,-3.004444,-0.542222
2017-08-03,689.20,706.15,688.90,694.25,1,-23.304473,-21.897547,-17.683983
2018-08-27,637.00,649.45,637.00,639.70,1,0.148206,0.522621,-24.781591
2018-08-31,640.95,659.95,638.25,642.10,1,-1.095679,-7.361111,-21.381173
2019-09-18,535.00,545.20,535.00,539.00,1,1.101852,-14.37963,-3.268519
2020-07-08,566.55,609.90,566.55,578.65,1,-1.593212,-0.329033,4.623777
2021-04-20,580.00,597.50,580.00,585.40,1,1.500986,28.956171,20.816537
2021-05-10,648.70,678.15,644.80,653.20,1,16.270928,9.444444,11.012177
2021-06-22,725.15,747.15,725.15,731.70,1,-2.675676,-2.513514,2.797297

Fetching data for company NEELAMALAI AGRO INDUSTRIES LTD

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2018-01-05,1652.0,1734.00,1652.0,1676.00,1,8.598636,-9.039227,-24.727118
2021-12-23,3900.0,4284.95,3900.0,3980.05,1,-2.556962,-3.48481,-2.481013

Fetching data for company DHUNSERI TEA & INDUSTRIES LTD

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2015-06-30,211.00,250.00,211.00,224.20,1,3.4375,6.428571,10.625
2015-09-18,214.20,243.40,214.20,222.30,1,6.772727,6.363636,18.181818
2015-10-19,249.40,265.00,249.40,254.60,1,-4.507576,-2.916667,3.787879
2016-04-08,246.30,256.80,246.30,248.90,1,17.803922,15.333333,12.313725
2016-10-03,285.00,290.60,285.00,286.25,1,4.873362,9.572052,-6.340611
2016-10-28,318.00,329.95,316.00,319.65,1,3.666667,-9.0,-5.616667
2016-11-01,328.80,336.95,328.80,331.20,1,-3.840316,-21.129326,-13.479053
2016-12-01,281.60,298.50,281.00,281.15,1,0.765125,4.039146,9.608541
2016-12-19,291.00,298.75,291.00,293.75,1,-4.954499,2.460398,1.600944
2017-06-12,306.10,310.95,303.25,304.20,1,2.274614,1.826332,0.647518
2017-10-09,269.00,277.00,269.00,270.20,1,1.102941,0.0,0.367647
2017-11-28,334.00,353.30,333.00,340.60,1,-4.314869,0.16035,20.553936
2018-09-03,299.00,315.00,298.20,302.80,1,0.131579,-9.210526,-7.582237
2018-12-05,250.00,264.00,250.00,253.25,1,-1.212471,-6.793687,-7.101617
2019-01-10,253.30,272.00,247.10,248.85,1,-4.02,-12.36,-15.36
2019-09-13,166.00,176.00,166.00,169.45,1,-0.833813,-8.481886,-10.120759
2019-09-18,167.40,178.60,167.40,167.40,1,-0.357995,-5.668258,-4.534606
2019-09-19,167.60,192.15,164.25,174.85,1,-2.068966,-8.045977,-6.321839
2020-01-02,175.00,179.00,174.50,175.30,1,1.388889,1.861111,1.888889
2020-01-03,180.00,186.95,179.50,181.75,1,1.805556,4.277778,-2.25
2020-04-08,120.00,135.00,119.70,125.80,1,15.634328,15.149254,4.477612
2020-06-26,179.45,189.00,176.00,177.15,1,-1.461632,7.764921,24.421437
2020-12-04,269.00,279.00,263.00,263.20,1,-2.408299,-4.242312,-4.205261
2021-03-08,275.00,291.00,272.50,276.05,1,-2.893374,-7.894267,-10.966244
2021-04-28,258.95,267.25,258.95,260.80,1,10.019231,22.307692,39.653846
2021-09-16,292.00,302.00,292.00,293.00,1,-6.798432,-7.85483,-10.649174
2021-11-03,261.00,304.00,261.00,270.20,1,3.219837,-4.848261,-5.773501
2021-12-17,261.35,275.45,253.50,255.25,1,-2.597656,7.167969,17.011719

Fetching data for company NAT BIO-GENES (INDIA) LTD

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2015-04-07,137.90,147.00,137.90,140.20,1,17.682021,-6.240713,-11.66419
2015-05-28,114.90,124.80,114.90,116.80,1,-15.364583,-12.326389,1.909722
2015-06-18,100.00,103.80,100.00,100.30,1,15.3,16.1,7.2
2015-10-12,100.00,106.90,100.00,100.75,1,-3.743842,-23.596059,-27.093596
2015-12-24,79.40,83.70,79.40,80.30,1,0.1875,8.625,-5.375
2016-01-04,81.65,84.95,81.00,81.30,1,24.834237,0.482218,-26.883665
2016-01-07,101.75,107.70,97.40,98.30,1,-13.1,-17.3,-39.35
2016-03-11,82.50,86.45,82.50,83.90,1,-7.869822,-0.710059,6.982249
2016-07-28,124.80,138.00,122.55,126.60,1,-16.540755,-19.324056,-15.944334
2016-11-04,165.15,189.90,163.00,172.95,1,4.888889,-10.861111,-21.944444
2017-04-06,155.10,167.30,154.70,158.10,1,33.999355,32.323558,44.279729
2017-04-10,199.90,216.65,197.70,201.65,1,0.544554,1.509901,7.20297
2017-09-13,429.45,459.00,425.00,431.10,1,-5.530643,-8.117742,-7.703806
2018-01-04,490.10,509.00,482.50,486.20,1,2.071795,11.394872,5.692308
2018-01-10,499.90,536.90,494.35,504.50,1,9.660679,4.750499,-1.447106
2018-04-10,538.80,574.95,538.80,546.45,1,-1.351351,1.451116,-11.491021
2018-07-05,471.50,488.55,465.80,467.45,1,6.260684,7.126068,4.711538
2018-07-12,495.00,514.00,492.00,497.30,1,-4.007937,-1.240079,-4.126984
2018-11-28,400.90,426.85,395.00,399.35,1,-0.901012,3.56702,5.517156
2019-01-07,422.00,435.75,415.10,417.55,1,2.036585,-4.341463,-10.682927
2019-02-21,400.00,415.00,399.00,401.45,1,-5.186567,0.721393,10.945274
2020-02-20,333.80,384.45,333.80,352.65,1,-12.007792,-41.978572,-58.452762
2020-10-01,287.05,299.80,285.95,289.90,1,8.551631,5.695454,-13.283759
2021-03-09,316.35,326.00,314.00,315.50,1,-6.0625,-6.28125,3.984375
2021-07-13,378.60,401.65,375.70,376.65,1,-5.630544,-1.311223,-18.254274
2022-01-03,265.15,280.00,264.25,267.75,1,1.210879,-1.341282,-9.42623
2022-03-21,224.70,234.55,224.65,227.55,1,-1.138354,,
2022-03-22,228.40,236.25,227.55,231.85,1,-7.4177,,

Fetching data for company BAYER CROPSCIENCE LTD

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2012-08-01,895.00,951.70,890.10,917.20,1,1.88491,7.711498,10.86595
2012-09-21,1000.00,1065.00,995.00,1011.55,1,4.588235,3.715686,12.058824
2012-11-29,1197.00,1288.00,1197.00,1221.80,1,0.016173,0.01213,0.1779
2012-12-03,1270.00,1341.80,1270.00,1289.70,1,-3.529868,-5.442203,-5.647789
2013-05-02,1150.00,1180.00,1150.00,1160.05,1,1.6609,12.153979,20.125433
2013-06-03,1399.30,1492.80,1399.30,1421.00,1,-2.207746,-1.084507,6.443662
2013-09-10,1560.05,1596.40,1545.00,1546.70,1,-0.980519,-0.191558,5.233766
2013-10-24,1631.00,1706.65,1629.00,1656.50,1,7.702934,-3.477582,2.276345
2013-11-28,1630.00,1675.00,1625.00,1649.85,1,1.836243,1.101746,5.915111
2014-04-22,1490.00,1507.50,1485.00,1488.10,1,-4.656566,-1.468013,9.622896
2014-09-19,2456.00,2710.00,2430.90,2518.30,1,-6.646778,-8.190135,-8.681384
2015-01-01,3183.95,3260.00,3177.00,3213.10,1,3.218605,8.584496,7.127132
2015-01-12,3360.00,3540.85,3338.00,3409.25,1,8.490649,1.26242,0.622443
2015-01-14,3460.00,3819.90,3460.00,3585.70,1,-3.657698,-5.65093,-5.287774
2015-05-28,3725.50,3850.00,3652.25,3672.55,1,2.824912,1.765909,7.227496
2016-03-23,3789.55,4074.00,3745.00,3816.95,1,-2.148052,-2.703896,1.079221
2016-08-10,4036.10,4315.00,4030.05,4094.20,1,-1.559028,-3.149454,1.614578
2016-09-15,4150.00,4380.00,4110.00,4138.40,1,0.938066,6.807577,1.037631
2016-10-03,4499.00,4627.00,4480.00,4501.15,1,-3.099668,-5.99557,-11.188261
2017-05-05,4617.15,4750.00,4560.00,4585.70,1,0.78188,-6.54688,1.328542
2017-05-17,4685.00,4960.00,4668.05,4733.45,1,-4.198276,1.97306,-0.787716
2017-11-17,3979.30,4074.95,3970.25,3995.90,1,-0.372133,-0.960302,11.717179
2018-01-10,4661.50,4774.00,4660.00,4685.30,1,-6.442755,-6.97043,-21.838562
2019-09-16,3219.05,3360.00,3218.00,3271.20,1,-0.644027,-1.843454,-2.748933
2019-11-01,3688.95,3839.45,3679.70,3720.25,1,-8.714854,-1.916446,-7.145889
2020-02-05,4496.20,4660.00,4414.15,4439.55,1,-1.143017,-0.139665,-16.848045
2020-04-23,4067.20,4177.85,4036.00,4057.15,1,5.632318,10.310795,32.376632
2020-05-06,4503.65,4553.00,4500.05,4524.25,1,-1.86105,16.797593,24.705689
2020-08-07,6070.00,6449.00,6070.00,6138.90,1,-2.574639,-2.20947,-3.494382
2020-12-28,5499.30,5600.00,5496.25,5532.85,1,-0.506793,1.178048,-1.784054
2021-04-01,5280.00,5390.00,5266.05,5304.75,1,-0.957346,1.138389,2.185782

Fetching data for company PI INDUSTRIES LTD

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2012-09-24,541.00,549.00,541.00,543.05,1,-1.617647,-3.262868,-7.352941
2013-02-13,608.00,680.90,608.00,629.95,1,1.504,1.336,-2.488
2013-03-05,629.00,644.00,629.00,633.35,1,2.622433,-3.720379,-77.496051
2013-10-10,162.00,168.00,161.00,162.90,1,1.198157,27.373272,30.138249
2014-02-07,243.00,261.40,242.30,250.50,1,-7.089405,0.118157,-0.315085
2014-06-17,318.00,336.00,315.80,323.65,1,2.852807,6.843703,20.364188
2014-11-07,440.00,474.05,440.00,453.60,1,-4.633418,-2.63187,1.105828
2015-02-20,622.75,712.00,613.60,639.55,1,-6.480315,3.448819,-3.811024
2015-10-05,636.40,655.00,634.60,643.35,1,4.261538,4.830769,-2.3
2015-12-10,620.00,714.00,614.20,647.05,1,-2.135093,-0.031056,-4.92236
2016-03-04,590.00,610.00,586.15,588.55,1,-2.266553,-5.280136,10.0
2016-04-11,582.50,592.00,581.00,583.75,1,10.56314,7.713311,1.774744
2016-04-13,620.00,691.50,620.00,645.85,1,-5.239909,-4.501142,2.140137
2016-07-04,719.10,732.70,717.00,720.55,1,0.800947,2.702326,11.784371
2016-07-13,723.00,744.90,720.40,725.15,1,1.916159,9.366353,8.335639
2016-07-15,735.00,752.00,732.50,737.80,1,0.354223,5.762943,10.647139
2016-07-27,744.95,786.80,744.95,752.15,1,3.250681,5.716945,13.255335
2017-01-24,840.00,927.45,834.05,876.60,1,-2.368421,0.307951,-8.096305
2017-12-20,981.25,1003.70,979.55,982.50,1,-3.089859,2.912572,-9.720393
2018-08-29,778.00,843.85,762.10,770.50,1,2.596026,2.099338,-0.072848
2018-11-02,795.00,834.80,795.00,798.85,1,2.66675,4.73395,4.502873
2018-11-22,833.95,875.00,833.95,845.65,1,-2.465395,0.772293,2.162419
2018-12-14,847.80,876.25,831.20,836.65,1,-0.563497,0.735512,1.1092
2019-01-02,857.55,874.15,855.35,859.60,1,-0.795956,0.145248,-2.498257
2019-03-05,934.00,985.05,930.70,947.75,1,5.078919,7.303224,7.14695
2019-05-16,1070.00,1111.70,1066.00,1084.80,1,3.545872,2.399083,5.775229
2019-05-20,1100.00,1141.65,1095.00,1105.45,1,1.23952,-3.376003,5.918147
2019-09-17,1273.45,1307.30,1273.45,1285.60,1,0.522621,1.946178,9.028861
2020-04-09,1392.00,1475.00,1380.00,1399.90,1,1.129864,6.207235,6.389698
2020-06-16,1600.00,1688.00,1592.00,1617.20,1,-5.412308,0.833846,10.430769
2020-07-03,1574.95,1605.00,1571.60,1576.30,1,10.122191,11.919122,17.000531
2020-07-08,1666.00,1728.90,1652.60,1661.15,1,1.342422,4.673175,14.454102
2020-10-06,2040.00,2078.00,2036.80,2044.55,1,-1.022005,2.738386,14.220049
2021-06-10,2810.00,2889.45,2810.00,2838.80,1,0.403509,2.196491,8.157895
2021-07-20,3175.00,3309.00,3061.95,3082.50,1,-5.067064,-0.540038,8.853741
2021-09-08,3372.10,3491.20,3356.85,3380.50,1,1.884984,-4.295049,-10.070945
2021-10-18,3300.00,3403.80,3300.00,3329.55,1,-10.630502,-18.153924,-11.917423

Fetching data for company JUBILANT FOODWORKS

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2012-04-18,1195.00,1253.00,1158.00,1168.25,1,-0.297961,-8.066232,12.058911
2012-07-11,1238.40,1257.90,1236.90,1241.10,1,-0.778917,-9.274356,-6.251513
2013-01-02,1318.00,1342.35,1315.00,1323.85,1,-2.505738,-4.751872,-13.495617
2013-06-27,1022.00,1059.20,1019.00,1037.95,1,6.795137,9.692921,5.834014
2013-09-26,1157.00,1198.00,1157.00,1166.90,1,1.451751,-0.251921,6.656704
2013-10-03,1158.00,1205.70,1158.00,1166.50,1,-2.129392,-2.472151,6.743787
2014-07-07,1311.85,1353.30,1308.35,1319.75,1,-8.999054,-2.115421,-8.416272
2014-12-26,1330.65,1410.00,1330.65,1348.45,1,1.869783,4.57429,6.269709
2015-05-19,1739.35,1789.00,1737.00,1758.25,1,-0.685828,-3.634035,5.418327
2015-06-18,1790.00,1822.00,1790.00,1797.35,1,3.277592,5.841695,1.251394
2015-07-01,1850.00,1880.55,1846.60,1862.10,1,1.965417,0.451079,3.009881
2016-08-02,1265.00,1298.80,1262.05,1277.50,1,-7.078125,-3.976563,-17.785156
2016-10-14,1040.00,1082.00,1035.25,1045.65,1,4.981374,-7.770561,-18.306429
2017-02-22,1000.80,1028.95,1000.80,1009.95,1,2.646053,10.286904,5.178138
2017-03-02,1018.20,1079.00,1018.20,1035.75,1,1.930988,5.304167,-1.911629
2017-07-04,1012.00,1044.00,1012.00,1023.20,1,6.65362,22.407045,26.873777
2017-07-10,1100.15,1128.00,1098.00,1110.75,1,14.309417,17.780269,25.174888
2017-08-16,1399.95,1444.00,1385.00,1393.80,1,-1.457403,-0.557242,-0.6394
2018-02-15,2045.00,2150.00,1998.00,2017.55,1,-3.148234,-1.383947,14.183005
2018-04-09,2442.00,2487.35,2437.95,2453.70,1,1.026423,3.745935,1.54878
2018-07-16,1405.00,1443.75,1403.95,1420.55,1,1.950877,1.515789,8.764912
2018-08-16,1502.00,1539.90,1499.55,1509.65,1,0.475248,-6.468647,-19.161716
2019-04-01,1445.00,1487.40,1445.00,1460.40,1,-2.248383,-9.835392,-14.91051
2020-01-13,1735.00,1752.80,1728.05,1730.65,1,2.016176,9.228769,9.618718
2020-02-24,1875.00,1922.50,1858.05,1864.75,1,-11.43883,-25.125,-24.840426
2020-04-17,1514.20,1608.15,1514.20,1548.85,1,-4.309677,1.112903,7.0
2020-08-26,2100.00,2148.00,2069.10,2076.35,1,7.866379,13.242337,11.503831
2021-01-05,2740.00,2836.50,2740.00,2775.90,1,2.766071,-3.035714,2.5
2021-05-31,3105.00,3178.00,3092.75,3110.65,1,1.146063,5.847652,0.493466
2021-06-16,3225.00,3331.85,3212.10,3231.80,1,-0.230668,-3.00178,13.600124
2021-09-17,4120.00,4271.00,4091.00,4104.60,1,0.839863,-2.670176,-8.708374
2021-12-06,3763.45,3894.00,3695.50,3706.00,1,0.052167,-8.101926,4.815409
2022-01-11,3780.00,3878.65,3778.05,3807.30,1,-0.705111,-9.823067,-21.833552

Fetching data for company AVENUE SUPERMARTS

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2017-06-05,780.00,809.75,776.05,788.05,1,1.330391,0.775536,12.496847
2017-07-24,936.15,964.25,913.20,918.50,1,0.098146,-2.993457,11.232279
2017-08-17,909.70,940.50,907.55,921.55,1,8.210011,16.909684,17.26877
2017-08-21,929.90,949.00,923.65,927.35,1,10.299465,16.433155,15.251337
2017-09-06,1073.80,1103.85,1062.10,1067.90,1,1.716418,4.179104,13.633396
2017-09-13,1090.05,1113.95,1086.05,1090.40,1,-1.00032,0.347143,4.275339
2017-09-26,1059.90,1217.00,1054.75,1116.80,1,-1.616659,9.104344,-1.365876
2017-10-11,1200.00,1244.90,1196.00,1214.60,1,-6.023657,-6.724459,-9.880094
2017-12-07,1121.25,1176.45,1121.25,1143.05,1,-3.947597,-0.248085,1.72789
2018-01-29,1197.00,1263.40,1174.55,1181.90,1,-5.501988,-1.420959,11.215428
2018-04-30,1498.90,1534.00,1486.15,1493.15,1,-2.436667,-10.136667,6.203333
2018-12-12,1541.05,1575.90,1541.05,1554.75,1,5.63141,0.163462,-13.080128
2019-03-05,1457.00,1500.00,1457.00,1472.05,1,1.973528,0.020311,-1.692563
2019-08-19,1493.00,1534.15,1493.00,1504.15,1,1.663347,4.140106,23.489376
2020-11-17,2396.00,2505.00,2390.00,2423.30,1,-2.061602,9.145791,9.449692
2021-08-06,3560.00,3625.00,3522.05,3529.05,1,1.659123,8.339463,19.997171
2021-11-04,4768.10,4825.95,4761.05,4783.70,1,6.128763,-1.363921,-0.930184
2022-03-02,4280.05,4447.55,4271.00,4296.20,1,-5.788506,-5.993103,

Fetching data for company ADANI GREEN ENERGY

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2020-05-21,234.00,243.55,234.00,234.75,1,5.021186,40.720339,44.40678
2021-10-01,1143.05,1189.00,1143.05,1151.15,1,2.134861,4.317452,12.145275

Fetching data for company TATA CONSUMER PRICES

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2013-06-07,149.00,152.75,148.35,149.15,1,-6.733333,-13.733333,4.7
2013-10-25,165.35,168.40,163.30,163.80,1,2.254723,-12.035344,-10.755637
2013-12-26,159.50,166.00,158.85,161.10,1,-3.640324,-5.444928,-10.952085
2014-10-29,156.75,161.00,156.75,157.45,1,2.063492,-0.253968,-0.984127
2015-01-09,154.00,157.80,153.55,155.30,1,-1.688436,1.115005,1.943294
2015-04-08,151.10,153.70,150.75,151.85,1,4.430587,-6.531014,-4.266492
2015-05-18,146.75,150.25,146.75,147.90,1,-0.506757,-6.283784,-8.885135
2016-03-02,110.30,112.00,109.40,109.65,1,4.26009,7.35426,8.026906
2017-01-13,127.00,130.70,126.90,128.25,1,-1.20952,10.495513,8.661725
2017-02-06,141.25,144.65,140.90,142.45,1,-0.175994,-2.147131,3.1327
2017-04-26,152.00,156.40,151.65,153.75,1,0.778715,-0.940947,-0.811162
2017-06-15,158.00,162.80,157.75,159.00,1,-2.702703,-3.551226,8.328096
2017-07-11,167.45,172.60,167.40,168.90,1,2.294118,-0.235294,15.147059
2018-03-15,276.80,284.40,276.80,279.80,1,-8.317077,-3.333924,3.174322
2018-05-29,259.30,262.50,256.55,257.10,1,2.773438,7.34375,4.238281
2018-12-24,216.30,223.70,215.75,219.20,1,-0.386451,-3.114344,-7.137986
2019-02-21,187.60,194.75,187.60,189.95,1,1.650943,8.176101,10.508386
2019-03-06,196.15,203.15,196.10,197.80,1,2.395965,-0.907945,8.600252
2019-03-14,203.65,211.85,203.35,206.40,1,-5.865385,1.370192,2.5
2020-04-16,316.00,333.55,315.00,323.05,1,-1.830357,1.770833,10.372024
2020-05-11,350.00,365.00,349.75,354.95,1,-2.033324,2.372211,6.876589
2020-08-26,546.00,561.30,545.00,548.30,1,-0.533454,-1.971067,-8.571429
2020-11-23,517.30,534.70,517.30,521.25,1,0.78125,9.927591,15.062881
2021-04-20,672.00,698.05,670.50,679.40,1,0.044313,-5.192024,-1.691285
2021-07-12,772.00,786.70,770.60,775.90,1,-2.433276,-3.223135,6.044971
2021-08-06,772.25,798.00,771.75,780.50,1,2.611182,7.681067,11.029225

Fetching data for company BOROSIL RENEWABLES LTD

,Open,High,Low,Close,Shooting Star,Return % 5 days after,Return % 14 days after,Return % 28 days after
Date,,,,,,,,
2012-05-24,851.00,885.00,850.00,862.65,1,-0.576701,-0.230681,-1.672434
2012-08-10,874.00,1001.00,850.00,853.35,1,0.235294,0.017647,-2.105882
2012-08-31,851.00,870.00,851.00,853.55,1,1.162791,-0.837209,-1.122093
2012-12-06,851.05,874.70,851.00,851.00,1,3.407756,2.702703,-9.177438
2013-04-22,749.90,774.90,749.90,750.00,1,3.211991,3.490364,-7.922912
2013-08-30,600.00,635.00,600.00,612.00,1,4.677419,8.225806,11.612903
2013-09-13,649.05,651.00,649.00,649.00,1,1.232666,5.855162,15.546995
2013-09-24,652.10,660.00,652.10,655.00,1,1.666667,4.545455,8.045455
2013-10-29,692.05,700.00,690.00,690.00,1,8.687776,8.542859,6.673429
2014-04-07,1210.00,1264.00,1210.00,1227.40,1,-18.321138,-16.845528,-24.154472
2014-10-27,1717.00,1887.00,1717.00,1781.00,1,4.410444,2.080292,0.800112
2014-11-03,1835.00,2000.00,1824.10,1859.55,1,-2.037037,-5.677249,-9.695767
2015-04-15,1840.00,1900.00,1840.00,1862.25,1,-10.039894,-16.183511,-14.946809
2015-08-07,2569.50,2799.00,2540.00,2651.25,1,-4.54797,-12.232472,-14.557196
2015-08-10,2710.00,2989.00,2700.00,2805.75,1,-1.947826,-15.730435,-19.982609
2015-11-26,2415.00,2455.50,2401.00,2409.00,1,-3.523868,-9.014546,1.249744
2016-05-18,4615.00,4989.00,4590.00,4721.00,1,-6.860465,-14.264271,-17.069767
2017-04-07,6350.00,6750.00,6305.00,6469.90,1,-2.652305,13.300076,21.250189
2017-10-12,892.20,924.90,891.00,899.00,1,-0.997862,0.285103,-5.01124
2017-12-11,1009.95,1048.00,1008.00,1012.50,1,-4.585981,-3.039259,3.09837
2019-05-29,201.00,208.90,200.35,204.25,1,-8.803828,-15.07177,-19.569378
2019-09-11,171.00,187.00,171.00,177.05,1,-1.096121,-4.15964,-3.063519
2019-10-22,173.00,178.40,173.00,174.60,1,-2.535613,7.521368,-0.31339
2019-11-13,188.00,199.00,185.00,187.05,1,-5.897841,-7.661927,-17.456556
2020-01-10,164.00,171.80,163.15,165.65,1,-0.060078,4.74617,27.035146
2020-04-20,38.95,43.90,38.25,38.95,1,-8.657465,-10.915935,-11.041405
2020-10-08,78.30,81.00,77.80,78.20,1,-1.662404,19.501279,48.465473
2020-10-19,79.00,83.05,78.80,80.15,1,0.909091,12.329545,36.306818
2020-10-21,98.70,112.50,97.50,103.20,1,-10.957599,-9.099571,27.679848
2021-05-07,248.00,261.85,248.00,253.30,1,5.126717,5.649062,1.315535
2021-05-11,262.00,277.00,261.10,266.30,1,9.133012,-2.000741,-3.149315
2021-07-06,276.30,282.50,276.00,277.10,1,-3.049645,13.014184,8.989362

In [67]:
shooting_star_samples['Return % 5 days after']= shooting_star_samples['Return % 5 days after'] *-1
shooting_star_samples['Return % 14 days after']= shooting_star_samples['Return % 14 days after'] *-1
shooting_star_samples['Return % 28 days after']= shooting_star_samples['Return % 28 days after'] *-1

In [69]:
shooting_star_samples.to_csv('/Users/devirughani/Desktop/Ironhack/Week_9_Final/Data/Hypothesis_Test_Sample_Data/shooting_star_samples.csv')

In [6]:
#def up_or_down(x):
#    if x > 0:
#        return 'Up'
#    elif x < 0:
#        return 'Down'
#    else:
  #      return "Same"

In [ ]:
elif ( df2.iloc[i,7] == 1 ) :
            df2.iloc[i,10] = (( ( df2.iloc[i+days_after, 4] - df2.iloc[i+1,1] )/df2.iloc[i+1,1] )*100)*-1

In [7]:
#data['Close_Price_Difference'] = data['Close_Price_Difference'].apply(up_or_down)